{% load allauth %}
{{ attrs.errors }}
<p class="my-4">
    {% if attrs.type == "textarea" %}
        <label class="label" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
        <textarea class="textarea"
                  {% if attrs.required %}required{% endif %}
                  {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                  {% if attrs.disabled %}disabled{% endif %}
                  {% if attrs.readonly %}readonly{% endif %}
                  {% if attrs.checked %}checked{% endif %}
                  {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                  {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                  {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}</textarea>
    {% else %}
        {% if attrs.type != "checkbox" and attrs.type != "radio" %}
            <label class="label" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
        {% endif %}
        <div class="flex items-center gap-2 {% if attrs.type == 'checkbox' or attrs.type == 'radio' %}size-6{% endif %}">
            <input class="{% if attrs.type == 'checkbox' %}checkbox{% elif attrs.type == 'radio' %}radio{% else %}input input-bordered{% endif %}"
                   {% if attrs.required %}required{% endif %}
                   {% if attrs.disabled %}disabled{% endif %}
                   {% if attrs.readonly %}readonly{% endif %}
                   {% if attrs.checked %}checked{% endif %}
                   {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                   {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                   {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                   {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
                   {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
                   type="{{ attrs.type }}">
            {% if attrs.type == "checkbox" or attrs.type == "radio" %}
                <label class="label cursor-pointer" for="{{ attrs.id }}">{% slot label %}{% endslot %}</label>
            {% endif %}
        </div>
        {% if slots.help_text %}
            <span class="text-sm">{% slot help_text %}{% endslot %}</span>
        {% endif %}
    {% endif %} <!-- Закрываем внешний if -->
</p>